<h2 class="header">Kayıt Ol</h2>

<%= form_with scope: :user, class:"eight columns offset-by-two", url: registration_path(resource_name) do |f| %>
  <%= devise_error_messages! %>

    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"u-full-width" %>

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:"u-full-width" %>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"u-full-width" %>

  <div class="btn-center">
    <%= f.submit "Kayıt Ol", class:"btn btn-primary-outline" %>
  </div>
<% end %>
<div class="columns login-btn">
  <%= render "devise/shared/links" %>
</div>
