<h2 class="header">Giriş</h2>

<%= form_with scope: :user, class:"eight columns offset-by-two", url: session_path(resource_name) do |f| %>

  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class:"u-full-width" %>

  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "off", class:"u-full-width" %>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  <% end %>

  <div class="btn-center">
    <%= f.submit "Giriş", class:"btn btn-primary-outline" %>
  </div>
<% end %>
<div class="columns login-btn">
    <%= render "devise/shared/links" %>
</div>