<%= form_with scope: :post, class:"eight columns offset-by-two", model: @post do |form| %>
        <%= form.label :title%>
        <%= form.text_field :title, type:"text", class:"u-full-width", placeholder:"Başlık Giriniz", required: 'true' %>
        <%= form.label :body %>
        <%= form.text_area :body, class:"u-full-width", rows:"8", required: 'true' %>
        <%= link_to  "Kategori Ekle", new_category_path, class:'btn link' %>
        <%= form.select :category_id, 
                        Category.all.collect{ |category| [category.title, category.id] },
                        { include_blank: "Bir Kategori Seçiniz..." },
                        class:"u-full-width", required: 'true' %>
        <div class="btn-center">
            <%= form.submit "Kaydet", class:"btn btn-primary-outline" %>
        </div>
<% end %>