<h1 class="header">Tüm Yazılar</h1>

<div class="row">
  <% @posts.each do |post| %>
    <div class="docs-section">
      <div class="nine columns">
        <h6><%= link_to post.title, post, class:'docs-header' %></h6>
        <p><%= truncate( post.body, length: 37, omission: "...#{post.body[-5, 5]}") %></p>
      </div>
      <div class="three columns sag">
        <div class="wordcount">
          <i class="fa fa-clock-o"></i>
          <span><%= pluralize(post.reading_time, 'minute')%></span><br>
          <%= time_ago_in_words(post.created_at) %> önce
        </div>
        <% if user_signed_in? %>
          <%= link_to edit_post_path(post), class:'button button-icon' do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to post_path(post),
                                      data: {:confirm => 'Are you sure?'},
                                      method: :delete,
                                      class:'button button-icon' do %>
            <i class="fa fa-remove"></i>
          <% end %>
        <% end %>
      </div>
      <div class="u-cf">
        
        <div class="post-info">
          <p><%= link_to post.category.title, post.category, class:"btn " %> Kategorisinde, <%= post.user.email %> tarafından Yazıldı</p>
        </div>
      </div> 
    </div>
  <% end %>
</div>