
<%= form_with scope: :category, model: @category, class:"eight columns offset-by-two" do |form| %>
    <%= form.label :title%>
    <%= form.text_field :title, type:"text", class:"u-full-width", placeholder:"Başlık Giriniz", required: 'true' %>
    <div class="btn-center">
        <%= form.submit "Kaydet", class:"btn btn-primary-outline" %>
    </div>
<% end %>
