<h1>Tüm Kategoriler</h1>

<% @categories.each do |category| %>
    <p>
        <%= link_to category.title, category %>, 
        <%= link_to "delete", category, method: :delete,
                                  data: { confirm: "Emin misin? Bu işlem geri alınamaz!" }%>
    </p>
    
<% end %>