<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-link" href="/">Anasayfa</a>
      </li>
      <li class="navbar-item">
        <%= link_to  "Yeni Yazı", new_post_path, class:"navbar-link" %>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#examples">Examples</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#moreNavPopover">More</a>
      </li>
    </ul>
    <ul class="navbar-list sag">
      <% if user_signed_in? %>
        <li class="navbar-item">
          <%= link_to 'Çıkış Yap', destroy_user_session_path, method: :delete, class: "navbar-link" %>
        </li>
      <% else %>
        <li class="navbar-item">
          <%= link_to 'Giriş Yap', new_user_session_path, class: "navbar-link" %>
        </li>
        <li class="navbar-item">
          <%= link_to 'Kayıt Ol', new_user_registration_path, class: "navbar-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>